.container {
  border-bottom: 1px solid #ccc;
  padding: 1em;
}
.container:last-child {
  border-bottom: none;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  padding: 0.5em;
  border: #ccc solid 1px;
}
