* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin-top: 5;
  margin-bottom: 0;
  padding: 0;
}

td {
  border: #ccc 1px solid;
  height: 30px;
  width: 30px;
  background-color: "";
}
